
#menu{
    width: 1005;
    height: 40px;
    background-color:orange;
    padding-top: 12px;
}

#menu a{
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: 800;
    padding-left: 20px;
    padding-right: 20px; 
}

#menu a:hover{
    color:deepskyblue;
}

/*==============imgae-gallery============*/

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
margin-top: 50px;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/*=========================about=====================*/
 .welcome {
  border: 1px solid gray;
  padding: 8px;
  margin-top: 50px;
}

h3 {
    text-align: center;
}

.Junction {
  text-align: center;
  text-transform: uppercase;
  color: #4CAF50;
}

p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: #008CBA;
}

.ask h1{
    text-align: center;
}

 .ask{
    width: 900px;
 
    margin-top: 100px;
    margin-bottom: 30px;
    color:cornflowerblue;
    padding: 10px 0px 10px 0px;
    text-align:left;
   border: 1px solid gray;
    margin-left: 190px;
    padding-left: 70px;
}

input{
    display: inline-block;
    width: 30%;
    padding: 12px;
    background-color: #fcfcfc;
    
    text-align: center;
    font-size: 11px;
    outline: none;
    border: 1px solid #c0bfbf;
    cursor: pointer;
    transition: all 0.2s ease;
}

form textarea {
    border-radius: 10px 10px 10px 10px;
}
/*FOOTER*/
footer {
text-align:left;
padding: 1px;
background-color:orange;
color: white;
margin-top: 40px;
}
