 .ask{
    width: 800px;
    background-color:darkgrey;
    margin-top: 100px;
    margin-bottom: 30px;
    color: bisque;
    padding: 10px 0px 10px 0px;
    text-align:left;
    border-radius: 40px 40px 40px 40px;
    margin-left: 290px;
    padding-left: 70px;
}
form textarea {
    border-radius: 10px 10px 10px 10px;
}
.ask h1{
    text-align: center;
}

input{
    display: inline-block;
    width: 30%;
    padding: 12px;
    background-color: #fcfcfc;
    
    text-align: center;
    font-size: 11px;
    outline: none;
    border: 1px solid #c0bfbf;
    cursor: pointer;
    transition: all 0.2s ease;
}